/* Start Main Style */

:root {
    --main-color: #ef9d15;
    --hovers-color: #c25316;
}

* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cairo-Regular.ttf');
    src: local('Cairo'), local('Cairo-Regular'), url('../fonts/Cairo-Regular.ttf') format('embedded-opentype'), url('../fonts/Cairo-Regular.ttf') format('ttf'),
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    outline: 1px solid var(--main-color);
}

body {
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.upper {
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.633);
}

.goTop {
    position: fixed;
    bottom: 2%;
    right: 5%;
    color: #fff;
    background: var(--main-color);
    /* background: linear-gradient(to right, #c25316 50%, #ef9d15 50%) no-repeat scroll right bottom/210% 100% #ef9d15; */
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .7s ease-in-out;
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -ms-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    display: none;
}

.goTop:hover {
    background-color: #c25316
}

@media(max-width:768px) {
    body .goTop {
        display: none;
    }
}

/* End Main Style */

header {
    background-image: url('../img/pexels-photo-1090638.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 0;
}

header nav {
    border-bottom: 1px solid #fff;
}

nav.fixed-nav {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: rgba(20, 20, 20, .8);
}

header .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.mobile-menu-btn {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    display: none;
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 20px;
}

.logoimg {
    height: 50px;
    width: 40px;
    display: inline-block;
    float: left;
}

header .top-bar ul {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

header .top-bar ul li {
    padding: 0 8px;
}

header ul a {
    color: #fff;
    display: block;
    transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
}

header ul a:hover {
    color: var(--main-color);
    font-weight: bold;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

header .welcome-msg {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

header .welcome-msg h1 {
    font-size: 72px;
    color: var(--main-color);
}

header .welcome-msg h1 span {
    color: white;
}

header .welcome-msg p {
    font-size: 18px;
    color: #fff;
}

header .scroll-down {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--main-color);
    padding-top: 12px;
}

.scroll-down span {
    animation: scrollDownAnimation 1s ease-in-out infinite;
    -webkit-animation: scrollDownAnimation 1s ease-in-out infinite;
}

@keyframes scrollDownAnimation {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.25;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0.25;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

header .scroll-down span {
    margin: auto;
    height: 25px;
    width: 25px;
    display: block;
    cursor: pointer;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

.about {
    background: var(--main-color);
    padding: 15px 0 50px 0;
}

.about h1 {
    color: #fff;
    text-align: center;
    margin: 15px 0 35px 0;
    text-transform: uppercase;
}

.about .item {
    text-align: center;
    color: #fff;
    /* position: static !important; */
}

.about .icon-container {
    background: var(--hovers-color);
    font-size: 28px;
    color: #fff;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.D {
    background: #777777;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.7s ease-in-out;
    padding: 6px 15px;
    margin: 20px 0px;
    font-size: 18px;
}

.D:hover {
    background-color: var(--hovers-color);
    cursor: pointer;
    color: #fff;
}

.V {
    background: #777777;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.7s ease-in-out;
    padding: 6px 15px;
    margin: 20px 0px;
    font-size: 18px;
}

.V:hover {
    background-color: var(--hovers-color);
    cursor: pointer;
    color: #fff;
}

.M {
    background: #777777;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.7s ease-in-out;
    padding: 6px 15px;
    margin: 20px 0px;
    font-size: 18px;
}

.M:hover {
    background-color: var(--hovers-color);
    cursor: pointer;
    color: #fff;
}

.PR {
    background: #777777;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.7s ease-in-out;
    padding: 6px 15px;
    margin: 20px 0px;
    font-size: 18px;
}

.PR:hover {
    background-color: var(--hovers-color);
    cursor: pointer;
    color: #fff;
}

.brief {
    color: black;
}

/* Start Projects */

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: 5px;
    padding-bottom: 0;
    width: 25%;
    height: 25%;
}

.project:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* End Projects */


/* Start Founders */

.founders {
    height: 300px;
    width: 100%;
    background-color: #3b434c;
    align-items: center;
    margin: 0;
    padding: 0;

}

.founders .founder1 {
    text-align: center;
}

.founders .founder2 {
    text-align: center;
}

.founders .founder3 {
    text-align: center;
}

.founders .founder1 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.founders .founder2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.founders .founder3 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.founders .text {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Start Contact US */

.contact {
    background: var(--main-color);
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    text-align: center
}

.contact-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.contact h2 {
    font-size: 36px;
    color: #fff;
}

.contact p {
    line-height: 2;
    color: #ccc;
}

.contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact form input {
    line-height: 40px;
    flex-basis: 48%;
}

.contact form input,
.contact form textarea {
    border-radius: 7px;
    border: 1px solid #f4f4f4;
    outline: none;
    padding: 0 10px;
    margin: 20px 0;
    background: transparent;
    color: #fff;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: #fff
}

.contact form textarea {
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    resize: none;
    flex-basis: 100%;
}

.contact form .info {
    overflow: hidden;
    margin-top: 5px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact form .sendbtn {
    background: #777777;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all 0.7s ease-in-out;
    padding: 6px 15px;
    margin: 20px 0px;
    font-size: 12px;
}

.contact form .sendbtn:hover {
    background-color: #3b5998;
    cursor: pointer;
    color: #fff;
}

/* Start Footer */

.footer {
    background: #3b434c;
    color: #fff;
    overflow: hidden;
    padding: 30px 0;

}

.footer .footer-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.footer .footer-container .info .social-media svg {
    background: #777;
    margin: 0 5px;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
    transition: 1s;
}

.footer .footer-container .info .social-media svg:nth-child(1) {
    background: #3b5998;
}

.footer .footer-container .info .social-media svg:nth-child(2) {
    background: #db2e76;
}

.footer .footer-container .info .social-media svg:nth-child(3) {
    background: #0068a7;
}

.footer .footer-container .info .social-media svg:nth-child(4) {
    background: #ff0000;
}

.footer .footer-container .info .social-media svg:nth-child(5) {
    background: #3662ba;
}

.footer .footer-container .info .social-media svg:hover {
    transform: rotateY(360deg);
    background: #000000;
}


/* End Footer */



/* End Contact US */


@media(max-width:992px) {
    header .top-bar ul.main-links {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }
}

@media(max-width:576px) {
    header .top-bar {
        justify-content: space-around;
    }

    header .scroll-down {
        display: none;
    }
}